examples/flow.json
[{"id":"af45f05.07c101","type":"tab","label":"HMI","disabled":false,"info":""},{"id":"1ebc9a64.4a7a26","type":"exec","z":"af45f05.07c101","command":"/usr/src/node-red/scripts/hmiput.sh","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"copy hmi to smb","x":1100,"y":780,"wires":[["d3054f1b.3a2f2"],["d3054f1b.3a2f2"],["d3054f1b.3a2f2"]]},{"id":"c217b546.722a18","type":"function","z":"af45f05.07c101","name":"Credenziali e Percorso cartelle","func":"var user = \"RemoteAccess\";                                  //msg.payload.Params.Tags[0].Value;\nvar pw = \"Siemens1!\";                                       //msg.payload.Params.Tags[4].Value;\nvar smb = \"//192.168.0.206/sharedfolder\";                   //msg.payload.Params.Tags[3].Value;\nvar smb_path = \"/IPC227E\";                                  //msg.payload.Params.Tags[2].Value;\nvar hmi_path =  global.get(\"pathOnly\");                     //msg.payload.Params.Tags[1].Value;\nvar filename =  msg.payload                                 //msg.hmi_path.substring(msg.hmi_path.lastIndexOf('/')+1);\n\n\nmsg.payload = user+\" \"+pw+\" \"+smb+\" \"+hmi_path+\" \"+filename+\" \"+smb_path;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":780,"wires":[["1ebc9a64.4a7a26","d3054f1b.3a2f2"]]},{"id":"d3054f1b.3a2f2","type":"debug","z":"af45f05.07c101","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":780,"wires":[]},{"id":"a67198.6251ee68","type":"inject","z":"af45f05.07c101","name":"Leggi Tag ciclicamente","props":[{"p":"TagNames","v":"taglist","vt":"global"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":450,"y":620,"wires":[["2aacfafb.bf56b6"]]},{"id":"b6a0fc94.40d1d","type":"file","z":"af45f05.07c101","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1230,"y":560,"wires":[[]]},{"id":"cb641189.ce5ee","type":"inject","z":"af45f05.07c101","name":"startup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["af128e7a.1915"]]},{"id":"56099fff.9d8","type":"fs-ops-dir","z":"af45f05.07c101","name":"","path":"payload","pathType":"msg","filter":"*","filterType":"str","dir":"payload","dirType":"msg","x":320,"y":780,"wires":[["d850f046.b7ff"]]},{"id":"cb97e89c.c98ef8","type":"inject","z":"af45f05.07c101","name":"","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"pathOnly","payloadType":"global","x":130,"y":780,"wires":[["56099fff.9d8"]]},{"id":"d850f046.b7ff","type":"split","z":"af45f05.07c101","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":780,"wires":[["df73ee95.c6976"]]},{"id":"df73ee95.c6976","type":"delay","z":"af45f05.07c101","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":780,"wires":[["c217b546.722a18"]]},{"id":"4c600aa6.424ed4","type":"comment","z":"af45f05.07c101","name":"Leggere Cartella sul pannello ogni 120 secondi e restituire i nomi dei file presenti","info":"","x":320,"y":740,"wires":[]},{"id":"dc683f22.6ae52","type":"comment","z":"af45f05.07c101","name":"Creazione della cartella sul pannello per esserne sicuro che esisti - all'accensione","info":"","x":310,"y":40,"wires":[]},{"id":"a62d5e61.e2c8","type":"comment","z":"af45f05.07c101","name":"Verifica commando lettura","info":"","x":130,"y":460,"wires":[]},{"id":"6f8f5822.4fd5a8","type":"hmi-read-tags","z":"af45f05.07c101","name":"Tag da Archiviare","x":810,"y":560,"wires":[["8699305c.c4886","595a0720.bad3f8"]]},{"id":"8699305c.c4886","type":"function","z":"af45f05.07c101","name":"valori + timestamp","func":"// abbiamo letto 5 tag e ci arriva indietro un array di 5 tag, msg.payload.Params.Tags[0..4]\n// Unica anomalia, la prima tag è su msg.payload.Params.Tags[1] e l'ultimo su msg.payload.Params.Tags[0]\n// la seguenza tag1,tag2,tag3,tag4,tag5 così diventa:\n//msg.payload = msg.payload.Params.Tags[1].Value +\",\"+ msg.payload.Params.Tags[2].Value +\",\"+ msg.payload.Params.Tags[3].Value +\",\"+ msg.payload.Params.Tags[4].Value +\",\"+ msg.payload.Params.Tags[0].Value;\n// usiamo un for..loop per non dover modificare il codice se cambia il numero di tag da leggere\nvar concat\n\n//Come prima colonna gestiamo il timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nvar timestamp = dd+\"/\"+mm+\"/\"+yyyy+\" \"+hh+\":\"+mm+\":\"+ss+\"  \";\n\nconcat = timestamp;\n\n// ora i tag\nfor (const tag of msg.payload.Params.Tags) {\n  if (concat == null) { //questo solo in caso che timestamp non ci fosse\n        concat = tag.Value.replace(\".\", ',');\n    } else {\n  concat = concat+\";\"+tag.Value.replace(\".\", ',');\n    }\n}\n\nmsg.filename = global.get(\"pathFull\");\nmsg.payload = concat;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":560,"wires":[["b6a0fc94.40d1d","830963a8.89685"]]},{"id":"7ebc8d.3c6e3374","type":"function","z":"af45f05.07c101","name":"Genera Filename","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Genera nome file dalla data\nmsg.fname = \"nuovologfile_\"+ yyyy + \"-\" + mm + \"-\" + dd + \".csv\";\n// leggi percorso directory da variabile globale, vedi primo flusso\nmsg.path = global.get(\"pathOnly\");\n\nglobal.set(\"pathFull\",msg.path+\"/\"+msg.fname);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":360,"wires":[["37d2faac.02a8c6"]]},{"id":"37d2faac.02a8c6","type":"fs-ops-dir","z":"af45f05.07c101","name":"Leggi directory","path":"path","pathType":"msg","filter":"fname","filterType":"msg","dir":"payload","dirType":"msg","x":500,"y":360,"wires":[["b65c6dc0.b2a0f"]]},{"id":"66feb36a.f96dec","type":"inject","z":"af45f05.07c101","name":"Triggere avvio","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"true","payloadType":"bool","x":120,"y":360,"wires":[["7ebc8d.3c6e3374"]]},{"id":"b65c6dc0.b2a0f","type":"switch","z":"af45f05.07c101","name":"filename è presente?","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":360,"wires":[["69fc516.ab84db"],[]]},{"id":"af128e7a.1915","type":"function","z":"af45f05.07c101","name":"set percorso pathOnly","func":"global.set(\"pathOnly\",\"/data/test/\");\ncartella = global.get(\"pathOnly\");\nmsg.directory = \"\";//cartella.substring(cartella.lastIndexOf('/'));\nmsg.path = cartella; //cartella.substring(0,cartella.lastIndexOf('/'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":80,"wires":[["80d86c8c.c02ee"]]},{"id":"80d86c8c.c02ee","type":"fs-ops-mkdir","z":"af45f05.07c101","name":"","path":"path","pathType":"msg","dirname":"directory","dirnameType":"msg","recursive":false,"mode":"777","fullpath":"directory","fullpathType":"msg","x":530,"y":80,"wires":[["872b6ef8.8acb7"]]},{"id":"872b6ef8.8acb7","type":"debug","z":"af45f05.07c101","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":80,"wires":[]},{"id":"d860bb1a.2b5d08","type":"inject","z":"af45f05.07c101","name":"Salva header in variabile globale","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["e8a891d6.2c1b9"]]},{"id":"e8a891d6.2c1b9","type":"change","z":"af45f05.07c101","name":"header","rules":[{"t":"set","p":"header","pt":"global","to":"time,tag1,tag2,tag3,tag4,tag5","tot":"str"},{"t":"set","p":"taglist","pt":"global","to":"tag1 tag2 tag3 tag4 tag5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["7883c6bb.3a0b18"]]},{"id":"7883c6bb.3a0b18","type":"debug","z":"af45f05.07c101","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":220,"wires":[]},{"id":"f8c555fd.c1a2e8","type":"csv","z":"af45f05.07c101","name":"Crea nuovo file con header","sep":";","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1140,"y":360,"wires":[["fc8a1b8b.e84388"]]},{"id":"fc8a1b8b.e84388","type":"file","z":"af45f05.07c101","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1330,"y":360,"wires":[[]]},{"id":"69fc516.ab84db","type":"change","z":"af45f05.07c101","name":"no","rules":[{"t":"set","p":"filename","pt":"msg","to":"pathFull","tot":"global"},{"t":"delete","p":"fname","pt":"msg"},{"t":"delete","p":"filter","pt":"msg"},{"t":"delete","p":"path","pt":"msg"},{"t":"set","p":"columns","pt":"msg","to":"header","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["f8c555fd.c1a2e8"]]},{"id":"c84ab330.ea7cc","type":"comment","z":"af45f05.07c101","name":"Pulire messaggio","info":"","x":920,"y":320,"wires":[]},{"id":"b1bd0676.5a0888","type":"hmi-subscribe-tags","z":"af45f05.07c101","name":"Ascolta commando Archiviazione","tags":"triggerLoggingSingolo","x":150,"y":500,"wires":[["6e403cb9.41a9a4"]]},{"id":"6e403cb9.41a9a4","type":"function","z":"af45f05.07c101","name":"TRIGGER SINGOLO","func":"payload = msg.payload;\n\nif (payload.Params.Tags[0].hasChanged == \"1\" && payload.Params.Tags[0].Value == \"TRUE\") {\n  msg.TagNames = global.get(\"taglist\");\n  return msg;\n} else {\n  msg = null;\n  return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":500,"wires":[["99568dc6.cd263"]]},{"id":"19afb948.695877","type":"function","z":"af45f05.07c101","name":"ATTIVA ARCHIVIAZIONE CICLICA","func":"payload = msg.payload;\n\nif (payload.Params.Tags[0].Value == \"TRUE\") {\n  msg.payload = global.set(\"archivia\",1);\n  return msg;\n} else if (payload.Params.Tags[0].Value == \"FALSE\") {\n  msg.payload = global.set(\"archivia\",0);\n  return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":580,"wires":[[]]},{"id":"2aacfafb.bf56b6","type":"switch","z":"af45f05.07c101","name":"","property":"archivia","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":620,"wires":[["6f8f5822.4fd5a8"],[]]},{"id":"27b52ee0.24fcf2","type":"comment","z":"af45f05.07c101","name":"singola lettura","info":"","x":410,"y":460,"wires":[]},{"id":"5f76d515.9605bc","type":"comment","z":"af45f05.07c101","name":"ciclica lettura","info":"","x":410,"y":540,"wires":[]},{"id":"c2094a27.a695a8","type":"comment","z":"af45f05.07c101","name":"Definizione Header e Taglist all'accensione","info":"","x":180,"y":180,"wires":[]},{"id":"99568dc6.cd263","type":"rbe","z":"af45f05.07c101","name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":630,"y":500,"wires":[["6f8f5822.4fd5a8"]]},{"id":"59d489bb.995c08","type":"comment","z":"af45f05.07c101","name":"filtro primo commando all'avvio di nodered","info":"","x":740,"y":460,"wires":[]},{"id":"550e30a4.d132f","type":"comment","z":"af45f05.07c101","name":"Creazione nuovo filename per la giornata se non è presente","info":"","x":250,"y":320,"wires":[]},{"id":"56715914.098308","type":"comment","z":"af45f05.07c101","name":"lettura tag da aggiungere al file .CSV + aggiunto timestamp","info":"****","x":1020,"y":520,"wires":[]},{"id":"237b95fc.9cb32a","type":"inject","z":"af45f05.07c101","name":"invia mail Venerdì 23:59","props":[{"p":"payload"}],"repeat":"","crontab":"59 23 * * 5","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":150,"y":920,"wires":[["6a715ae2.b06854"]]},{"id":"f148710c.ab415","type":"function","z":"af45f05.07c101","name":"Generate Email","func":"//parametrizzo il messaggio email:\n//topic=Oggetto\n//Attachments = allegati\n//Payload= Corpo eMail\n//to= destinatario\n\nmsg.topic = \"la mail dal UCP\";\nmsg.payload = \"vedi allegati per controllare tutti report presenti\";\n    \nmsg.to =\"wouterdepo@gmail.com\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":920,"wires":[["278c8e70.2d7d72"]]},{"id":"b9648980.bd6d28","type":"fs-ops-type","z":"af45f05.07c101","name":"","path":"pathOnly","pathType":"global","filename":"payload","filenameType":"msg","filetype":"csv","filetypeType":"msg","x":540,"y":920,"wires":[["d7b4792f.7d3288"]]},{"id":"6a715ae2.b06854","type":"fs-ops-dir","z":"af45f05.07c101","name":"","path":"pathOnly","pathType":"global","filter":"*","filterType":"str","dir":"payload","dirType":"msg","x":400,"y":920,"wires":[["b9648980.bd6d28"]]},{"id":"d7b4792f.7d3288","type":"function","z":"af45f05.07c101","name":"filtro solo CSV","func":"var i = 0;\npayload = msg.payload;\ncsv = msg.csv;\npathOnly = global.get(\"pathOnly\");\n\nlet attachments = [];\nj=0;\n\ndo {\n    if (csv[j] == \"F\"){\n        attachments.push({path: pathOnly+payload[j]});\n        j++;\n    } else{\n        j++;\n    }\n    }while (j<=payload.length);\n\nmsg.attachments = attachments;\n\n/*\nlet attachments2 = [];\n// invia file specifico\nattachments2 = [\n        {   // file on disk as an attachment\n            filename: filename[0],\n            path: path[0] // stream this file\n        },\n        {   // filename and content type is derived from path\n            path: path[4]\n        }\n    ];\nmsg.attachments2 = attachments2;\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":920,"wires":[["892b8580.1acb88"]]},{"id":"278c8e70.2d7d72","type":"e-mail","z":"af45f05.07c101","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1210,"y":920,"wires":[]},{"id":"892b8580.1acb88","type":"change","z":"af45f05.07c101","name":"pulizia","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"csv","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":920,"wires":[["f148710c.ab415"]]},{"id":"bfad481a.829738","type":"comment","z":"af45f05.07c101","name":"copiare tutti file sulla cartella condivisa del PC","info":"","x":1190,"y":740,"wires":[]},{"id":"58092adc.a4ccb4","type":"comment","z":"af45f05.07c101","name":"Inserire le credenziali e percorso","info":"","x":860,"y":740,"wires":[]},{"id":"24cdfffe.2737d","type":"comment","z":"af45f05.07c101","name":"invio mail periodico con tutti file","info":"","x":200,"y":880,"wires":[]},{"id":"6bc13b59.c0e574","type":"hmi-subscribe-tags","z":"af45f05.07c101","name":"Ascolta Attiva Archiviazione continua","tags":"attivaLoggingContinuo","x":160,"y":580,"wires":[["19afb948.695877"]]},{"id":"595a0720.bad3f8","type":"debug","z":"af45f05.07c101","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":620,"wires":[]},{"id":"830963a8.89685","type":"debug","z":"af45f05.07c101","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":620,"wires":[]}]